version: '3.8'

services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - camera-rent-network

  backend:
    build: 
      context: ./backend-spring
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/camerarent
    depends_on:
      - mongodb
    networks:
      - camera-rent-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - camera-rent-network

networks:
  camera-rent-network:
    driver: bridge

volumes:
  mongodb_data: